* {
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: white;
  background-position: center;
  background-size: cover;
  user-select: none;
}

:root {
  --oren: #d89348;
  --gray: #8f919c;
  --turqo: #b8d7dc;
  --brow: #713b1d;
  --merah: #cf2937;
  --jedacredit: 50ms;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: black;
}

/* All Page */
.page {
  display: flex;
  width: 100%;
  min-height: 100vh;
  /* height: 100vh; */
}

.product,
.about {
  padding-bottom: 50px;
}

/* Navbar Start*/

span.menubar {
  visibility: hidden;
  position: fixed;
}
nav {
  display: flex;
  gap: 20px;
  writing-mode: vertical-lr;
  position: fixed;
  z-index: 99;
  left: 90px;
  top: 22%;
}

nav .button {
  position: relative;
  opacity: 0.58;
}

nav .button.onview {
  opacity: 1;
}

nav .button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2px;
  right: 100%;
  border-radius: 10px;
  background-color: white;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.2s ease-in-out;
}

nav .button.onview::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2px;
  right: 100%;
  border-radius: 10px;
  background-color: white;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.2s ease-in-out;
}

nav .button:hover {
  opacity: 1;
}

nav .button a {
  font-family: "Montserrat";
}
/* Navbar End */

/* Home */
.home {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: -1;
  /* widh */
}

.home bgsma {
  position: absolute;
  inset: 0;
  z-index: -999;
  opacity: 0.4;
  background-image: url("../aset/sma3.jpg");
}

/* WELCOME TO */
.home h5 {
  font-family: coco;
  font-size: 0.8rem;
  margin-bottom: -1px;
  letter-spacing: 0.5rem;
}

/* ECOBIOGRAPHY */
.home h1.ecobio {
  font-family: catchy;
  font-size: 6.35rem;
  text-align: center;
  font-weight: 100;
  margin: 0;
  transition: all 0.2s ease-out;
  transform: scale(0.7);
}

.home.onviewpage h1.ecobio {
  transform: scale(1);
}

/* Portfolio */
.home h2.portfo {
  font-family: catchy;
  font-weight: 100;
  text-align: center;
  font-size: 2rem;
  margin-top: -10px;
  letter-spacing: 0.1px;
}

/* By Kelompok Pukis */
.home .creator {
  position: absolute;
  bottom: 70px;
}
.home .creator p {
  font-family: "Source Serif 4", serif;
  font-size: 2vmax;
}

.home .creator p span.logo {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 20px;
  margin-bottom: -20px;
  background-image: url(../aset/web-icon.svg);
  background-color: rgba(255, 255, 255, 0.24);
}
/* Home End */

/* About */
.about {
  background-color: var(--oren);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about section {
  width: 80%;
  height: 80%;
}

.about section h2,
.about section p {
  transition: all 0.3s ease-in-out;
  transition-delay: calc(var(--i) * 0.15s);
  transform: translateX(-100px);
  opacity: 0;
}

.about.onviewpage gmbr {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.page.about.onviewpage h2,
.about.onviewpage p {
  opacity: 1;
  transform: translateX(0);
}

.about h2 {
  font-family: catchy;
  font-weight: 100;
  font-size: 4vmax;
  letter-spacing: 0.4rem;
}

.about p {
  font-family: coco;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  max-width: 40vmax;
}

.about gmbr {
  width: 30vmax;
  height: 40vmax;
  background-image: url("../aset/we.jpeg");
  float: right;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  transition-delay: calc(var(--i) * 0.15s);
  transform: translateY(100px) scale(0.5);
  opacity: 0;
  margin: auto 0;
}

/* About End */

/* Product */

.product {
  align-items: center;
  flex-direction: column;
  position: relative;
}

.product bg {
  background-image: url(../aset/mantaf.jpg);
  position: absolute;
  inset: 0;
  z-index: -2;
  opacity: 0.5;
}

.product h2 {
  font-family: catchy;
  font-weight: 100;
  font-size: 3vmax;
  text-align: center;
  letter-spacing: 0.6rem;
  transition: all 0.2s ease-out;
  transform: scale(0.7);
}

.product.onviewpage h2 {
  transform: scale(1);
}

.product .cardholder {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product cards {
  margin: auto;
  max-width: 290px;
  transform: translateY(50px);
  opacity: 0;
  /* transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
  transition: all 0.2s cubic-bezier(0.11, -0.77, 0, 1.37);
  transition-delay: calc(var(--i) * 0.15s);
  margin-bottom: 50px;
}

.product cards .n {
  width: 100%;
  height: 185px;
  border-radius: 10px;
}

.product.onviewpage cards {
  transform: translateY(0);
  opacity: 1;
}

.product .n {
  background-image: var(--foto);
  filter: brightness(0.7);
}

.product .box {
  border: solid 2px white;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  margin-top: 10px;
  padding: 0 15px;
  font-family: coco;
}

.product .box:hover {
  background-color: rgba(255, 255, 255, 0.226);
}

.product .box p {
  font-size: 0.84rem;
}

.product .box h3 {
  font-size: 1.5rem;
  margin-bottom: -18px;
}

.product .box h5 {
  font-size: 0.8rem;
  margin-bottom: 20px;
  margin-left: 10px;
}

.product a {
  position: absolute;
  right: 20px;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  bottom: 15px;
  border-radius: 20px;
  padding: 4px 10px;
  text-align: center;
}
.product a span {
  font-size: 1.5rem;
  position: relative;
  top: 2px;
}

/* Product End */

/* Other */

other {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

other h2 {
  position: absolute;
  top: 20px;
  font-family: catchy;
  font-weight: 100;
  font-size: 3vmax;
  letter-spacing: 1rem;
  width: 100%;
  text-align: center;
  transition: all 0.2s ease-out;
  transform: scale(0.7);
}

.other.onviewpage other h2 {
  transform: scale(1);
}

other contact {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

other contact a {
  font-family: coco;
  font-size: 1.2rem;
  display: flex;
  border: solid white 2px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 80px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translateX(100px);
  opacity: 0;
  transition-delay: calc(var(--jeda) * var(--jedacredit));
}

.other.onviewpage other contact a {
  opacity: 1;
  transform: translateX(0);
}

other contact a span {
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

other contact a svg {
  position: absolute;
  left: 3%;
  top: 32%;
  transition: stroke 0.3s ease-in-out;
}

other contact a:hover {
  border-radius: 20px;
}
other contact a:hover span {
  letter-spacing: 0.2rem;
}

other contact a:nth-child(1):before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: white;
}

other contact a:nth-child(2):before,
other contact a:nth-child(3):before {
  content: "";
  position: absolute;
  z-index: -1;
  background: linear-gradient(to right, rgb(255, 123, 0), rgb(170, 2, 170));
}

other contact a::before {
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
  border-radius: 100px;
  inset: -10%;
}

other contact a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

other contact a:nth-child(1):hover span,
other contact a:nth-child(1):hover svg {
  color: black;
  stroke: black;
}
/* Other End */

/* Credits */

.credits {
  position: relative;
}

.credits .bg {
  position: absolute;
  inset: 0;
  height: 100%;
  z-index: -3;
  background-image: url(../aset/taman.jpg);
  opacity: 0.5;
}

/* Credit Template Grid */
.credits credit {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "h t t"
    "f s s"
    "m m m";
  width: 88%;
  height: 100%;
  position: absolute;
  right: 0;
}

/* Special Thanks */
credit h1 {
  font-family: catchy;
  font-size: clamp(2rem, 5.5vmax, 5rem);
  letter-spacing: 0.2rem;
  font-weight: 100;
  grid-area: h;
  margin: 45.5px 0;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - (100% - 310px));
}

.credits.onviewpage credit h1 {
  top: 0%;
}

credit h1 span {
  opacity: 0;
}

.credits.onviewpage credit h1 span {
  opacity: 1;
}

/* Thanks */
credit thank {
  grid-area: t;
  height: max-content;
  margin-top: 45.5px;
  margin-left: 20px;
  width: 675px;
  overflow: hidden;
}

credit thank p {
  transition: all 0.2s ease-in-out;
  transition-delay: calc(var(--jeda) * var(--jedacredit));
  transform: translateY(-100px);
  opacity: 0;
}

.credits.onviewpage credit thank p {
  transform: translateY(0);
  opacity: 1;
}

/* Fasilitator */
credit fasili {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -100px;
  grid-area: f;
}

credit fasili h3 {
  font-family: "Forum";
  font-weight: 100;
  margin: 0;
  margin-bottom: 25px;
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  transition: all 0.2s ease-in-out;
  transform: translateX(-20px);
  opacity: 0;
}

credit fasili p {
  font-family: "Cardo";
  font-weight: 100;
  margin: 0;
  transition: all 0.2s ease-in-out;
  transition-delay: calc(var(--jeda) * var(--jedacredit));
  font-size: calc(0.625rem + 7px);
  letter-spacing: 0.5px;
}

credit fasili p:nth-child(even) {
  transform: translateX(20px);
  opacity: 0;
}

credit fasili p:nth-child(odd) {
  transform: translateX(-20px);
  opacity: 0;
}

.credits.onviewpage credit fasili h3,
.credits.onviewpage credit fasili p {
  transform: translateX(0);
  opacity: 1;
}
/* Fasilitor End */

/* Social */

credit social {
  grid-area: s;
  display: grid;
  height: 140px;
  grid-template-columns: 15% 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "l m1 m2";
  position: relative;
  border: solid 1px white;
  /* border-radius: 20px; */
  margin: 0 20px;
  margin-right: 12%;
}

credit social .ig1 {
  grid-area: m1;
}

credit social .ig2 {
  grid-area: m2;
}

credit social div {
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

credit social div a {
  width: 100%;
  height: auto;
  margin: 0;
  font-family: "Montserrat";
  text-align: center;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: calc(var(--jeda) * var(--jedacredit));
  letter-spacing: 0.1rem;
  transform: scale(0);
}

.credits.onviewpage credit social div a {
  transform: scale(1);
}

credit social div a:hover {
  text-decoration: underline;
}

credit social .ig {
  grid-area: l;
  --size: 100%;
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
}

credit social svg {
  width: 100%;
  height: auto;
  stroke-width: 1.2px;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: calc(var(--jeda) * var(--jedacredit));
  position: relative;
  transform: scale(0);
}

.credits.onviewpage credit social svg {
  transform: scale(1);
}

/* Social End */

/* Members */
credit members {
  grid-area: m;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-top: -25px;
}

credit members h2 {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  font-family: "Forum";
  font-weight: 100;
  margin-top: 0;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: calc(var(--jeda) * var(--jedacredit));
  filter: blur(50px);
}

.credits.onviewpage credit members h2 {
  filter: blur(0);
}

credit members div {
  margin-top: 15px;
}

credit members div h4 {
  font-family: "Cardo";
  font-weight: 100;
  font-size: 1.1rem;
  letter-spacing: calc(1rem * 0.0625);
  transform: translateY(100px);
  transition: all 0.2s ease-in-out;
  transition-delay: calc(var(--jeda) * var(--jedacredit));
  opacity: 0;
}

.credits.onviewpage credit members div h4 {
  transform: translateY(0);
  opacity: 1;
}

/* Members End */

/* Credits End */

/* Footer Copyright */

footer {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.267);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

footer p {
  position: relative;
  letter-spacing: 0.02rem;
}
footer sosmed {
  position: fixed;
  display: flex;
  gap: 20px;
  right: 30px;
  bottom: 4px;
}

footer a svg {
  width: 30px;
  height: 30px;
}

footer a {
  transition: transform 0.1s ease-in-out;
}
footer a:active {
  transform: scale(0.6);
}

/* Footer Copyright End */

/* Media Queries */

/* Wide Screen */
@media (width >= 1920px) {
  nav .button a {
    font-size: 1.35rem;
  }
}

/* Mobile */
@media (width < 768px) {
  span.menubar {
    visibility: visible;
    cursor: pointer;
    opacity: 0.58;
    font-size: 150%;
    margin: 10px;
    margin-top: 0px;
    padding: 5px;
    z-index: 99;
    border: solid white 2px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  #openmenu {
    margin-top: 9px;
  }
  #closemenu {
    margin-top: 9px;
    margin-left: 29%;
  }
  span.menubar:hover {
    opacity: 1;
  }
  nav {
    background-color: black;
    writing-mode: horizontal-tb;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40%;
    left: -40%;
    transition: left 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  nav.clickview {
    left: 0;
  }
  nav #closemenu {
    visibility: hidden;
  }
  nav.clickview #closemenu {
    visibility: visible;
  }
  nav .button:first-child {
    margin-top: 80px;
  }
  nav .button {
    margin-left: 10px;
    padding: 10px;
    width: fit-content;
  }
  nav .button::before,
  nav .button.onview::before {
    scale: 0;
  }
  nav .button::after {
    content: "";
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    transform: scaleX(0);
    transform-origin: right;
  }
  nav .button.onview::after {
    content: "";
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    transform: scaleX(1);
    transform-origin: left;
  }
  nav .button a {
    font-size: 100%;
    letter-spacing: 0.1rem;
  }

  /* Home Page */
  .home h5 {
    font-size: 0.6rem;
    margin-bottom: 10px;
    letter-spacing: 0.3rem;
  }
  .home h1.ecobio {
    font-size: 2.5rem;
  }
  .home h2.portfo {
    margin: 0;
    font-size: 1.3rem;
  }
  .home .creator p {
    font-size: 1rem;
  }

  /* About Page */
  .about {
    flex-direction: column;
  }
  .about gmbr {
    width: 100%;
    height: 420px;
    margin: 20px 0;
  }
  .about h2 {
    font-size: 250%;
    text-align: center;
  }
  .about p {
    max-width: 100%;
    text-align: center;
  }

  /* Product Page */
  .product h2 {
    font-size: 250%;
    margin-bottom: 80px;
  }

  /* Other */
  other a {
    position: relative;
    height: 50px;
  }
  other a span {
    font-size: 80%;
  }
  other contact a svg {
    left: 0;
    margin-left: 20px;
    display: flex;
  }
  other contact a::before {
    transition: transform 0.3s ease-in-out;
  }
  other contact span {
    transition: 0.3s ease-in-out;
  }

  /* Credits Page */
  .credits credit {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, min-content);
    grid-template-areas:
      "h"
      "t"
      "f"
      "s"
      "m";
    width: 90%;
    right: 50%;
    transform: translateX(50%);
    height: 100%;
  }
  credit h1 {
    width: 100%;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 0;
  }
  credit h1 span {
    opacity: 0;
    height: min-content;
  }
  credit thank {
    text-align: center;
    margin: 0;
    width: auto;
  }
  credit thank p {
    font-size: 80%;
  }
  credit fasili {
    margin: 0;
    margin-bottom: 10px;
    font-size: 80%;
  }
  credit fasili h3 {
    font-size: 1.5rem;
  }
  credit fasili p {
    font-size: 1rem;
  }
  credit social {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "l l"
      "m1 m2";
    margin: 0 0;
  }
  credit social .ig {
    padding-bottom: 0;
  }
  credit social .ig svg {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    position: static;
    align-items: center;
  }
  credit social div {
    padding: 0;
  }
  credit social div a {
    font-size: 90%;
  }
  credit members {
    position: relative;
    top: 15px;
    margin: 0;
  }
  credit members h2 {
    font-size: 1.5rem;
    margin-top: 0px;
  }
  credit members div {
    margin-top: 35px;
  }
  credit members div h4 {
    font-size: 1rem;
  }

  /* Footer */
  footer p {
    font-size: 70%;
  }
  footer sosmed {
    gap: 5px;
    right: 10px;
  }
  footer a svg {
    width: 85%;
    height: 85%;
  }
}
