* {
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: white;
  background-position: center;
  background-size: cover;
}

:root {
  --oren: #d89348;
  --gray: #8f919c;
  --turqo: #b8d7dc;
  --brow: #713b1d;
  --merah: #cf2937;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: black;
}

/* All Page */
.page {
  display: flex;
  width: 100%;
  min-height: 100vh;
  /* height: 100vh; */
}

.product,
.about {
  padding-bottom: 50px;
}

/* Navbar Start*/

span.menubar {
  visibility: hidden;
  position: fixed;
}
nav {
  display: flex;
  gap: 20px;
  writing-mode: vertical-lr;
  position: fixed;
  z-index: 99;
  left: 90px;
  top: 22%;
}

nav .button {
  position: relative;
  opacity: 0.58;
}

nav .button.onview {
  opacity: 1;
}

nav .button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2px;
  right: 100%;
  border-radius: 10px;
  background-color: white;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.2s ease-in-out;
}

nav .button.onview::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2px;
  right: 100%;
  border-radius: 10px;
  background-color: white;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.2s ease-in-out;
}

nav .button:hover {
  opacity: 1;
}

nav .button a {
  font-family: "Montserrat";
}
/* Navbar End */

/* Home */
.home {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: -1;
  /* widh */
}

.home bgsma {
  position: absolute;
  inset: 0;
  z-index: -999;
  opacity: 0.4;
  background-image: url("../aset/sma3.jpg");
}

/* WELCOME TO */
.home h5 {
  font-family: coco;
  font-size: 0.8rem;
  margin-bottom: -1px;
  letter-spacing: 0.5rem;
}

/* ECOBIOGRAPHY */
.home .ecobio {
  background-image: url("../aset/ecobiography.png");
  width: 53vw;
  height: 12vw;
  background-size: cover;
}

/* Portfolio */
.home .portfo {
  background-image: url("../aset/portfolio.png");
  background-size: cover;
  width: 20vw;
  height: 4.5vw;
}

/* By Kelompok Pukis */
.home .creator {
  position: absolute;
  bottom: 70px;
}
.home .creator p {
  font-family: "Source Serif 4", serif;
  font-size: 2vmax;
}

.home .creator p span {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-left: 30px;
  border-radius: 50%;
  margin-bottom: -20px;
  background-color: white;
}
/* Home End */

/* About */
.about {
  background-color: var(--oren);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about section {
  width: 80%;
  height: 80%;
}

.about section h2,
.about section p {
  transition: all 0.3s ease-in-out;
  transition-delay: calc(var(--i) * 0.15s);
  transform: translateX(-100px);
  opacity: 0;
}

.about.onviewpage gmbr {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.page.about.onviewpage h2,
.about.onviewpage p {
  opacity: 1;
  transform: translateX(0);
}

.about h2 {
  font-family: catchy;
  font-size: 4vmax;
  letter-spacing: 0.4rem;
}

.about p {
  font-family: coco;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  max-width: 40vmax;
}

.about gmbr {
  width: 30vmax;
  height: 40vmax;
  background-image: url("../aset/chick.jpeg");
  float: right;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  transition-delay: calc(var(--i) * 0.15s);
  transform: translateY(100px) scale(0.5);
  opacity: 0;
  margin: auto 0;
}

/* About End */

/* Product */

.product {
  align-items: center;
  flex-direction: column;
  position: relative;
}

.product bg {
  background-image: url(../aset/mantaf.jpg);
  position: absolute;
  inset: 0;
  z-index: -2;
  opacity: 0.5;
}

.product h2 {
  font-family: catchy;
  font-size: 3vmax;
  text-align: center;
  letter-spacing: 0.6rem;
}

.product .cardholder {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product cards {
  margin: auto;
  max-width: 290px;
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transition-delay: calc(var(--i) * 0.15s);
  margin-bottom: 50px;
}

.product cards .n {
  width: 100%;
  height: 185px;
  border-radius: 10px;
}

.product.onviewpage cards {
  transform: translateY(0);
  opacity: 1;
}

.product .n {
  background-image: var(--foto);
  filter: brightness(0.7);
}

.product .box {
  border: solid 2px white;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  margin-top: 10px;
  padding: 0 15px;
  font-family: coco;
}

.product .box p {
  font-size: 0.84rem;
}

.product .box h3 {
  font-size: 1.5rem;
  margin-bottom: -18px;
}

.product .box h5 {
  font-size: 0.8rem;
  margin-bottom: 20px;
  margin-left: 10px;
}

.product a {
  position: absolute;
  right: 20px;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  bottom: 15px;
  border-radius: 20px;
  padding: 4px 10px;
  text-align: center;
}
.product a span {
  font-size: 1.5rem;
  position: relative;
  top: 2px;
}

/* Product End */

/* Footer Copyright */

footer {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.267);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Media Queries */

/* PC */
@media (max-width: 1920px) {
  nav .button a {
    font-size: 2rem;
  }
}

/* Mobile */
@media (max-width: 768px) {
  span.menubar {
    visibility: visible;
    cursor: pointer;
    opacity: 0.58;
    font-size: 150%;
    margin: 10px;
    margin-top: 0px;
    padding: 5px;
    z-index: 99;
    border: solid white 2px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  #openmenu {
    margin-top: 9px;
  }
  #closemenu {
    margin-top: 9px;
    margin-left: 29%;
  }
  span.menubar:hover {
    opacity: 1;
  }
  nav {
    background-color: black;
    writing-mode: horizontal-tb;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40%;
    left: -40%;
    transition: left 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  nav.clickview {
    left: 0;
  }
  nav #closemenu {
    visibility: hidden;
  }
  nav.clickview #closemenu {
    visibility: visible;
  }
  nav .button:first-child {
    margin-top: 80px;
  }
  nav .button {
    margin-left: 10px;
    padding: 10px;
    width: fit-content;
  }
  nav .button::before,
  nav .button.onview::before {
    scale: 0;
  }
  nav .button::after {
    content: "";
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    transform: scaleX(0);
    transform-origin: right;
  }
  nav .button.onview::after {
    content: "";
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    transform: scaleX(1);
    transform-origin: left;
  }
  nav .button a {
    font-size: 100%;
    letter-spacing: 0.1rem;
  }

  /* Home Page */
  .home h5 {
    font-size: 0.6rem;
    /* margin-bottom: -10px; */
    letter-spacing: 0.3rem;
  }
  .home .ecobio {
    width: 300px;
  }
  .home .portfo {
    width: 150px;
    height: 30px;
    margin-top: 10px;
  }
  .home .creator p {
    font-size: 1rem;
  }

  /* About Page */
  .about {
    flex-direction: column;
  }
  .about gmbr {
    width: 100%;
    height: 420px;
    margin: 20px 0;
  }
  .about h2 {
    font-size: 250%;
    text-align: center;
  }
  .about p {
    max-width: 100%;
    text-align: center;
  }

  /* Product Page */
  .product h2 {
    font-size: 250%;
    margin-bottom: 80px;
  }
}
